In [1]:
# -*- coding:utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from __future__ import division
from math import sqrt
%matplotlib inline

In [2]:
# Load libraries and dataset
from sklearn import datasets
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans

# Load data
feature_list = ['BALANCE', 'PURCHASES', 'CASH_ADVANCE', 'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS']
creditcard = pd.read_csv('./CC GENERAL.csv')[['CUST_ID']+feature_list]
creditcard.head(n=5)

,CUST_ID,BALANCE,PURCHASES,CASH_ADVANCE,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS
0,C10001,40.900749,95.40,0.000000,1000.0,201.802084,139.509787
1,C10002,3202.467416,0.00,6442.945483,7000.0,4103.032597,1072.340217
2,C10003,2495.148862,773.17,0.000000,7500.0,622.066742,627.284787
3,C10004,1666.670542,1499.00,205.788017,7500.0,0.000000,NaN
4,C10005,817.714335,16.00,0.000000,1200.0,678.334763,244.791237

In [3]:
creditcard.dropna(inplace=True)
creditcard.describe()

,BALANCE,PURCHASES,CASH_ADVANCE,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS
count,8636.000000,8636.000000,8636.000000,8636.000000,8636.000000,8636.000000
mean,1601.224893,1025.433874,994.175523,4522.091030,1784.478099,864.304943
std,2095.571300,2167.107984,2121.458303,3659.240379,2909.810090,2372.566350
min,0.000000,0.000000,0.000000,50.000000,0.049513,0.019163
25%,148.095189,43.367500,0.000000,1600.000000,418.559237,169.163545
50%,916.855459,375.405000,0.000000,3000.000000,896.675701,312.452292
75%,2105.195853,1145.980000,1132.385490,6500.000000,1951.142090,825.496463
max,19043.138560,49039.570000,47137.211760,30000.000000,50721.483360,76406.207520

Question 1. Standardize all the features using min-max method (2 points)

In [5]:
# Standardize features: min-max standardization
feature_list = ['BALANCE', 'PURCHASES', 'CASH_ADVANCE', 'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS']

# Initialize a min-max scaler object to do standardization
scaler = MinMaxScaler()

# Standardize features using min-max method
features_std = scaler.fit_transform(creditcard[feature_list])

Question 2. Fit 5-means clustering model with min-max standardized features: k=5 (2 points)

In [7]:
# Fit 5-means clustering model: Suppose 5 clusters k=5
cluster_5 = KMeans(n_clusters=5, random_state=0, n_jobs=-1)

# Create a KMeans clustering model
model_5 = cluster_5.fit(creditcard[feature_list]) # Clustering without feature standardization

# Do clustering on min-max standardized features
model_std_5 = cluster_5.fit(features_std) # Clustering after feature standardization

Question 3. Predict which cluster does a new data sample belong to (1 point)

In [12]:
# Predict which cluster is this new observation in:
new_obs = [[40, 90, 100, 1000, 1500, 50]]
model_std_5.predict(new_obs)

array([4])